In [30]:
import pandas as pd
import Worker
from Worker import *
import networkx as nx
import Main
from Main import *

In [ ]:
## Several concepts were deleted from the original list, but they are still in the database.
## reasons: Excel 9E000 format, /n in the concept name, etc.
relevant_concept_list = ['439401001', '371480007', '432213005', '373793006', '58147004', '165197003', '363680008', '423827005', '363679005', '16310003', '76145000', '86481000', '29240004', '259672007', '702666009', '714797009', '261665006', '7771000', '24028007', '51440002', '255561001', '396360001', '275904003', '439272007', '373372005', '263933003', '384812005', '263843001', '263918006', '1155705000', '1155708003', '1286893008', '1155707008', '1268929003', '385432009', '444025001', '443527007', '444411008', '1264491009', '404684003', '278201002', '410672004', '734841007', '263486008', '445200009', '262061000', '386053000', '371497001', '385421009', '39607008', '272673000', '10200004', '12738006', '59441001', '14016003', '3120008', '15425007', '134315000', '39937001', '74964007', '60132005', '103319000', '273546003', '761869008', '387713003', '363703001', '373808002', '363676003', '261004008', '255231005', '1287211007', '88797001', '373067005', '373066001', '128477000', '75100008', '405950009', '14669001', '8635005', '419076005', '735173007', '230690007', '53206008', '37372002', '82403002', '236085004', '81060008', '67406007', '772133000', '1163215007', '236089005', '735426009', '64779008', '8765009', '34436003', '355001', '57243009', '95347000', '84114007', '698247007', '2776000', '14783006', '234044007', '89138009', '19220005', '91175000', '26629001', '59927004', '19242006', '234105001', '234109007', '46420000', '373409004', '243410003', '22298006', '308896002', '16761005', '274144001', '25803005', '75694006', '6072007', '399957001', '48661000', '698817002', '58554001', '60046008', '233604007', '36118008', '1162567000', '59282003', '1052239007', '409623005', '76571007', '76314005', '302918009', '302215000', '266257000', '82545002', '239160006', '271618001', '1287742003', '262202000', '168528006', '373846009', '373847000', '277671009', '260364009', '405813007', '21483005', '258335003', '119235005', '389079005', '56329008', '774007', '1290032005', '1286894002', '74262004', '117590005', '385294005', '54066008', '71836000', '31389004', '81502006', '4596009', '69748006', '51185008', '181131000', '119184005', '78904004', '32849002', '72410000', '9875009', '818983003', '69695003', '15776009', '78961009', '64033007', '23451007', '82849001', '87953007', '822992007', '80581009', '28273000', '28231008', '826984001', '34402009', '53505006', '89837001', '41216001', '40689003', '18911002', '35039007', '71252005', '45292006', '76784001', '3665003', '113192009', '89546000', '31467002', '363654007', '84667006', '35769007', '73903008', '54735007', '113197003', '56873002', '896747000', '85050009', '299701004', '24097009', '118645006', '28254004', '71341001', '702468001', '84167007', '87784001', '53120007', '61685007', '302553009', '12921003', '1490004', '276825009', '181469002', '119181002', '122490001', '76838003', '9659009', '245269009', '245282001', '62683002', '264016003', '818991007', '245285004', '91394001', '54268001', '8928004', '397440000', '38266002', '309795001', '260528009', '413946009', '413947000', '276213000', '33195004', '395096001', '384692006', '113120007', '64291000052106', '118640001', '399315003', '82107009', '290006006', '46602004', '58607005', '89177007', '312253001', '286630003', '447553000', '1368003', '14691008', '24853006', '32059002', '419804008', '7770004', '48341001', '5405008', '89457008', '445461008', '229028007', '229029004', '418931004', '229034000', '282143001', '445232009', '261782000', '419835002', '419099009', '260413007', '255604002', '1255665007', '24484000', '442452003', '399166001', '711434002', '31099001', '133858001', '276239002', '367336001', '169413002', '76334006', '1269349006', '424313000', '310341009', '373818007', '258049002', '394906002', '105590001', '410942007', '394908001', '17854005', '281013003', '1296859006', '18632008', '263502005', '550991000124107', '551001000124108', '260388006', '255314001', '1259237005', '108369006', '41647002', '65320000', '64957009', '399656008', '263855007', '399608002', '225292002', '410657003', '307153007', '303110006', '304541006', '897713009', '448288001', '1255831008', '897016006', '445528004', '419620001', '399753006', '184305005', '304292004', '55446002', '103165007', '10828004', '260385009', '50334000', '69910005', '70862002', '410656007', '307982007', '409063005', '372087000', '399687005', '373795004', '373796003', '122458006', '373797007', '373798002', '373799005', '373800009', '266987004', '396984004', '116676008', '371469007', '313147000', '373375007', '373377004', '373373000', '373374006', '860746006', '399415002', '399611001', '410671006', '405843009', '425389002', '422512005', '422894000', '423053003', '423237006', '39579001', '236091002', '232413009', '25577004', '725038004', '361715005', '735084003', '3341006', '9846003', '29392005', '25308007', '15598003', '773933006', '724221004', '1201928007', '719461004', '758645001', '734355008', '737465008', '1287955007', '722739008', '722421000', '720643007', '34201000', '764401001', '723413000', '31749008', '818997006', '20159001', '1119413005', '746224000', '82365008', '53074004', '260686004', '721061000124106', '73494004', '285324001', '82371002', '410666004', '840643003', '58899004', '399647000', '261985008', '7147002', '703852005', '64195000', '85460009', '44225006', '412730000', '439771001', '223474009', '272394005', '410606002', '428997004', '363346000', '373794000', '394804000', '726739006', '372274003', '370114008', '1155701009', '1155703007', '1155704001', '1155702002', '1295388007', '94391008', '94222008', '94381002', '94248000', '94392001', '94217008', '94493005', '94627008', '94161006', '94579000', '424122007', '363675004', '261560009', '723189000', '724726005', '781193006', '428794004', '386211005', '60168000', '55525008', '42998008', '473048005', '385798007', '279230002', '2748008', '361355005', '81745001', '45206002', '362696003', '122494005', '122495006', '122496007', '699698002', '787470002', '67328008', '731469008', '89890002', '81105003', '279807001', '68171009', '281779003', '245276004', '245284000', '245294005', '10546003', '26216008', '442371002', '103388001', '313226005', '80347004', '10611004', '1156505006', '46044009', '1263794005', '371892002', '282717008', '413311005', '395061001', '6736007', '103338009', '103337004', '277058005', '277062004', '876785008', '399409002', '9855000', '1222712000', '8116006', '1156316003', '308364004', '709491003', '310134006', '310123008', '39154008', '396785008', '512001000004108', '128462008', '405825005', '272424004', '399488007', '48318009', '309162003', '258349007', '93974005', '373068000', '129265001', '1222638005', '1222639002', '1222640000', '264031007', '40413002', '1222641001', '258332000', '258333005', '258334004', '313367003', '258336002', '258337006', '258338001', '258339009', '258340006', '258348004', '423690003', '367565008', '263718001', '118442004', '303218009', '191476005', '236087007', '112798008', '235823004', '840321001', '277540008', '22883003', '73013002', '191447007', '126663003', '314944001', '110265006', '12063002', '286959000', '1293114006', '190902006', '63597007', '287169004', '1255358009', '76752008', '177853001', '81939000', '16982005', '40983000', '14975008', '85562004', '29836001', '68367000', '30021000', '56459004', '245257001', '128235003', '47479005', '399180008', '262241003', '398201009', '261217004', '127489000', '419617009', '84190002', '246455001', '170970005', '385651009', '420227002', '371541002', '830150003', '89551006', '224699009', '314845004', '263490005']
pd.Series(relevant_concept_list).value_counts()

439401001    1
82371002     1
722421000    1
720643007    1
34201000     1
            ..
89546000     1
31467002     1
363654007    1
84667006     1
263490005    1
Name: count, Length: 590, dtype: int64

In [55]:
snomed_graph = load_graph('data/snomed-20250401_dag_rel.pkl')
root = '138875005' # SNOMED CT root concept (SNOMED CT Concept ID: 138875005)
a = length_of_shortest_path(snomed_graph,root, '363680008', '58147004')
a

9

In [ ]:
### Create Matrix 

empty_matrix = pd.DataFrame(index = relevant_concept_list, columns=relevant_concept_list)
stacked_matrix = empty_matrix.stack(dropna=False).rename_axis(['col_id', 'index_id'])
stacked_matrix = stacked_matrix.index.to_series()
stacked_matrix
result = stacked_matrix.apply(lambda x: length_of_shortest_path(snomed_graph,root, x[0], x[1]))

col_id     index_id
439401001  439401001     2
           371480007     5
           432213005     4
           373793006     5
           58147004      8
                        ..
263490005  830150003     9
           89551006     10
           224699009    14
           314845004     9
           263490005     2
Length: 348100, dtype: int64

In [72]:
result.unstack()

index_id,439401001,371480007,432213005,373793006,58147004,165197003,363680008,423827005,363679005,16310003,...,246455001,170970005,385651009,420227002,371541002,830150003,89551006,224699009,314845004,263490005
col_id,,,,,,,,,,,,,,,,,,,,,
439401001,2,5,4,5,8,7,8,9,7,8,...,9,3,8,6,10,7,8,12,7,8
371480007,5,2,5,6,8,7,9,9,8,9,...,9,6,8,7,11,5,8,13,8,9
432213005,4,5,2,5,8,7,8,9,7,8,...,9,5,8,6,10,7,8,12,7,8
373793006,5,6,5,2,9,8,9,10,8,9,...,10,5,9,7,11,6,7,13,6,9
58147004,8,8,8,9,2,7,9,9,8,9,...,7,8,8,7,12,9,8,14,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830150003,7,5,7,6,9,8,9,10,8,9,...,10,5,9,7,11,2,7,13,6,9
89551006,8,8,8,7,8,3,5,5,4,5,...,9,6,8,5,12,7,2,14,7,10
224699009,12,13,12,13,14,13,14,15,13,14,...,15,12,14,12,16,13,14,2,13,14
314845004,7,8,7,6,9,8,9,10,8,9,...,10,5,9,7,11,6,7,13,2,9
263490005,8,9,8,9,10,9,10,11,9,10,...,11,8,10,8,12,9,10,14,9,2